#============= recovery ==============
allow recovery adb_keys_file:dir { getattr open read };
allow recovery apk_data_file:dir { relabelto open read };
allow recovery apk_data_file:file { relabelto };
allow recovery apk_private_data_file:dir { getattr relabelto open read };
allow recovery app_data_file:dir { getattr open read };
allow recovery app_data_file:file { getattr open read };
allow recovery app_data_file:lnk_file { relabelto getattr unlink };
allow recovery asec_image_file:dir { relabelto getattr open read };
allow recovery backup_data_file:dir { getattr relabelto open read };
allow recovery backup_data_file:file { getattr relabelto open read };
allow recovery bluetooth_data_file:dir { getattr relabelto open read };
allow recovery cache_backup_file:dir { getattr open read relabelto };
allow recovery cache_file:dir { relabelfrom relabelto };
allow recovery cache_file:file { relabelfrom relabelto };
allow recovery dalvikcache_data_file:dir { relabelto open read };
allow recovery dalvikcache_data_file:file { relabelto };
allow recovery device:dir { add_name remove_name write };
allow recovery device:file { create open unlink write };
allow recovery devpts:chr_file { getattr ioctl open read write };
allow recovery dhcp_data_file:dir { getattr open read };
allow recovery drm_data_file:dir { getattr relabelto open read };
allow recovery kernel:security { read_policy };
allow recovery kernel:system module_request;
allow recovery keychain_data_file:dir { getattr open read };
allow recovery logdr_socket:sock_file write;
allow recovery logd:unix_stream_socket connectto;
allow recovery media_data_file:dir { getattr open read };
allow recovery media_rw_data_file:dir { getattr open read };
allow recovery media_rw_data_file:file getattr;
allow recovery misc_user_data_file:dir { getattr open read };
allow recovery net_data_file:dir { getattr open read };
allow recovery radio_data_file:dir { getattr relabelto open read };
allow recovery radio_data_file:file { getattr relabelto open read };
allow recovery radio_data_file:lnk_file { create relabelfrom setattr };
allow recovery random_device:chr_file mounton;
allow recovery rootfs:dir { relabelfrom relabelto add_name create remove_name rmdir setattr write };
allow recovery rootfs:fifo_file { getattr create open read unlink };
allow recovery rootfs:file { relabelfrom };
allow recovery rootfs:lnk_file { create unlink };
allow recovery self:netlink_kobject_uevent_socket { bind create read };
allow recovery selinuxfs:file write;
allow recovery shared_relro_file:dir { getattr open read };
allow recovery shell_data_file:dir { getattr read };
allow recovery shell_data_file:file { getattr read };
allow recovery shell_data_file:lnk_file { create relabelfrom setattr };
allow recovery system_data_file:dir { relabelto mounton ioctl open read };
allow recovery system_data_file:file { open relabelto };
allow recovery system_data_file:lnk_file unlink;
allow recovery system_data_file:sock_file { getattr unlink };
allow recovery systemkeys_data_file:dir { getattr open read };
allow recovery system_wpa_socket:sock_file { getattr unlink };
allow recovery tmpfs:fifo_file { getattr create open read };
allow recovery urandom_device:chr_file mounton;
allow recovery vfat:dir { create add_name open read setattr write remove_name rmdir };
allow recovery vfat:file { create getattr open read setattr write unlink };
allow recovery vpn_data_file:dir { getattr open read };
allow recovery wifi_data_file:dir { getattr open read };
allow recovery wifi_data_file:file { getattr open read };
allow recovery wpa_socket:dir { getattr open read };
allow recovery wpa_socket:sock_file { getattr unlink };

