#============= recovery ==============
allow recovery adb_keys_file:dir { getattr open read };
allow recovery adbtcp_prop:file { getattr open };
allow recovery apk_data_file:dir { relabelto open read };
allow recovery apk_data_file:file { relabelto };
allow recovery apk_private_data_file:dir { getattr relabelto open read };
allow recovery app_data_file:dir { getattr open read };
allow recovery app_data_file:file { getattr open read };
allow recovery app_data_file:lnk_file { relabelto getattr unlink };
allow recovery asec_image_file:dir { relabelto getattr open read };
allow recovery audioserver_data_file:dir { getattr open read };
allow recovery backup_data_file:dir { getattr relabelto open read };
allow recovery backup_data_file:file { getattr relabelto open read };
allow recovery bluetooth_data_file:dir { getattr relabelto open read };
allow recovery bluetooth_logs_data_file:dir { getattr open read };
allow recovery bootchart_data_file:dir { getattr open read };
allow recovery boottrace_data_file:dir { getattr open read };
allow recovery cache_backup_file:dir { getattr open read relabelto };
allow recovery cache_file:dir { relabelfrom relabelto };
allow recovery cache_file:file { relabelfrom relabelto };
allow recovery dalvikcache_data_file:dir { relabelto open read };
allow recovery dalvikcache_data_file:file { relabelto };
# allow recovery default_prop:property_service set;
allow recovery device:dir { add_name remove_name write };
allow recovery device:file { create open unlink write };
allow recovery device_logging_prop:file { getattr open };
allow recovery devpts:chr_file { getattr ioctl open read write };
allow recovery dhcp_data_file:dir { getattr open read };
allow recovery dm_device:chr_file { ioctl open read write };
allow recovery drm_data_file:dir { getattr relabelto open read };
allow recovery fuse_device:dir { add_name getattr search write open read };
allow recovery fuse_device:file { create getattr open setattr write };
allow recovery fuse_device:filesystem { getattr mount };
allow recovery gatekeeper_data_file:dir { getattr open read };
allow recovery gatekeeper_data_file:file getattr;
allow recovery kernel:security { read_policy };
allow recovery kernel:system module_request;
allow recovery keychain_data_file:dir { getattr open read };
# allow recovery keystore_data_file:dir { getattr open read };
# allow recovery keystore_data_file:file getattr;
allow recovery logdr_socket:sock_file write;
allow recovery logd:unix_stream_socket connectto;
allow recovery logpersistd_logging_prop:file { getattr open };
allow recovery media_data_file:dir { getattr open read };
allow recovery media_rw_data_file:dir { getattr open read };
allow recovery media_rw_data_file:file { getattr open read };
allow recovery misc_user_data_file:dir { getattr open read };
allow recovery mmc_prop:file { getattr open };
allow recovery net_data_file:dir { getattr open read };
allow recovery net_data_file:file getattr;
allow recovery perfprofd_data_file:dir { getattr open read };
allow recovery radio_data_file:dir { getattr relabelto open read };
allow recovery radio_data_file:file { getattr relabelto open read };
allow recovery radio_data_file:lnk_file { create relabelfrom setattr };
allow recovery random_device:chr_file mounton;
allow recovery rootfs:dir { relabelfrom relabelto add_name create remove_name rmdir setattr write };
allow recovery rootfs:fifo_file { getattr create open read unlink };
# allow recovery rootfs:file { create write };
allow recovery rootfs:file { relabelfrom };
allow recovery rootfs:lnk_file { create unlink };
allow recovery safemode_prop:file { getattr open };
allow recovery self:netlink_kobject_uevent_socket { bind create read };
allow recovery selinuxfs:file write;
allow recovery shared_relro_file:dir { getattr open read };
allow recovery shared_relro_file:file getattr;
allow recovery shell_data_file:dir { getattr read };
allow recovery shell_data_file:file { getattr read };
allow recovery shell_data_file:lnk_file { create relabelfrom setattr };
allow recovery system_data_file:dir { relabelto mounton ioctl open read };
allow recovery system_data_file:file { open relabelto };
allow recovery system_data_file:lnk_file unlink;
allow recovery system_data_file:sock_file { getattr unlink };
allow recovery systemkeys_data_file:dir { getattr open read };
allow recovery system_wpa_socket:sock_file { getattr unlink };
allow recovery theme_prop:file { getattr open };
allow recovery tmpfs:fifo_file { getattr create open read };
allow recovery update_engine_data_file:dir { getattr open read };
allow recovery urandom_device:chr_file mounton;
allow recovery userinit_prop:file { getattr open };
allow recovery vfat:dir { create add_name open read setattr write remove_name rmdir };
allow recovery vfat:file { create getattr open read setattr write unlink };
# allow recovery vold_data_file:dir { getattr open read };
# allow recovery vold_data_file:file getattr;
allow recovery vold_prop:property_service set;
allow recovery vpn_data_file:dir { getattr open read };
allow recovery wifi_data_file:dir { getattr open read };
allow recovery wifi_data_file:file { getattr open read };
allow recovery wpa_socket:dir { getattr open read };
allow recovery wpa_socket:sock_file { getattr unlink };

#============= recovery ==============
allow recovery twrp_prop:file { getattr open read };
allow recovery twrp_prop:property_service set;


