#============= recovery ==============
allow recovery adb_keys_file:dir { getattr open read };
allow recovery apk_data_file:dir { add_name remove_name relabelto rmdir open read write };
allow recovery apk_data_file:file { create relabelfrom relabelto setattr write unlink };
allow recovery apk_private_data_file:dir { getattr relabelto rmdir open read };
allow recovery app_data_file:dir { getattr remove_name rmdir open read write };
allow recovery app_data_file:file { getattr open read };
allow recovery app_data_file:file unlink;
allow recovery app_data_file:lnk_file { relabelto getattr read unlink };
allow recovery asec_image_file:dir { relabelto rmdir getattr open read };
allow recovery backup_data_file:dir { getattr add_name remove_name rmdir create relabelfrom relabelto open read write setattr };
allow recovery backup_data_file:file { getattr create relabelfrom relabelto setattr open read write unlink };
allow recovery bluetooth_data_file:dir { getattr relabelto rmdir open read };
allow recovery cache_backup_file:dir { getattr open read relabelto };
allow recovery cache_file:dir { relabelfrom relabelto };
allow recovery cache_file:file { relabelfrom relabelto };
allow recovery dalvikcache_data_file:dir { add_name relabelto rmdir remove_name open read write };
allow recovery dalvikcache_data_file:file { create relabelfrom relabelto setattr write unlink };
allow recovery default_prop:property_service set;
allow recovery device:dir { add_name remove_name write };
allow recovery device:file { create open unlink write };
allow recovery devpts:chr_file { getattr ioctl open read write };
allow recovery dhcp_data_file:dir { getattr rmdir open read };
allow recovery drm_data_file:dir { getattr add_name create relabelfrom relabelto remove_name rmdir open read write setattr };
# allow recovery kernel:security { load_policy };
allow recovery kernel:security { read_policy };
allow recovery kernel:system module_request;
allow recovery keychain_data_file:dir { getattr open read };
allow recovery keystore_data_file:dir { getattr create relabelto open read search setattr };
# allow recovery keystore_data_file:dir { write relabelfrom add_name remove_name rmdir };
allow recovery keystore_data_file:file getattr;
# allow recovery keystore_data_file:file { read write create setattr unlink open };
allow recovery logdr_socket:sock_file write;
allow recovery logd:unix_stream_socket connectto;
allow recovery media_data_file:dir { getattr open read };
allow recovery media_rw_data_file:dir { getattr open read };
allow recovery media_rw_data_file:file getattr;
allow recovery misc_user_data_file:dir { getattr open read };
allow recovery net_data_file:dir { getattr open read };
allow recovery properties_device:file rename;
allow recovery radio_data_file:dir { getattr add_name create relabelfrom relabelto remove_name rmdir setattr open read write };
allow recovery radio_data_file:file { getattr create relabelfrom relabelto setattr unlink open read write };
allow recovery radio_data_file:lnk_file { create relabelfrom setattr };
allow recovery random_device:chr_file mounton;
allow recovery rootfs:dir { relabelfrom relabelto add_name create remove_name rmdir setattr write };
allow recovery rootfs:fifo_file { getattr create open read unlink };
allow recovery rootfs:file { relabelfrom create setattr write unlink };
allow recovery rootfs:lnk_file { create unlink };
allow recovery self:netlink_kobject_uevent_socket { bind create read };
allow recovery selinuxfs:file write;
allow recovery shared_relro_file:dir { getattr open read };
allow recovery shell_data_file:dir { getattr add_name remove_name rmdir open read write };
allow recovery shell_data_file:file { getattr open read unlink };
allow recovery shell_data_file:lnk_file { create relabelfrom setattr };
allow recovery system_data_file:dir { add_name relabelfrom relabelto remove_name rmdir mounton ioctl create open read write setattr };
allow recovery system_data_file:file { open unlink relabelfrom relabelto create setattr write };
allow recovery system_data_file:lnk_file unlink;
allow recovery system_data_file:sock_file { getattr unlink };
allow recovery systemkeys_data_file:dir { rmdir getattr open read };
allow recovery system_wpa_socket:sock_file { getattr unlink };
allow recovery tmpfs:fifo_file { getattr create open read };
# allow recovery unlabeled:file { execute execute_no_trans };
allow recovery urandom_device:chr_file mounton;
allow recovery vfat:dir { create add_name open read setattr write remove_name rmdir };
allow recovery vfat:file { create getattr open read setattr write unlink };
allow recovery vpn_data_file:dir { getattr rmdir open read };
allow recovery wifi_data_file:dir { getattr remove_name rmdir open read write };
allow recovery wifi_data_file:file { getattr open read unlink };
allow recovery wpa_socket:dir { getattr open read };
allow recovery wpa_socket:sock_file { getattr unlink };

